---
permalink:
  edge:
    - /hello/
    - /hello/:name/
---
<h1>Hello@Edge {{ eleventy.serverless.path.name }}</h1>
{% if eleventy.serverless.path.name %}
  <img src="{{ eleventy.serverless.path.name | escape | pokeimage }}" />
{% endif %}